@import styles

.container
    width: 80%
    height: 100%
    @include element-flex(column,flex-start,center)
    margin-top: $value-16
    margin-bottom: $value-16
    gap: $value-8
    box-sizing: border-box
    padding: $value-8
    background: $w2
    border-radius: $value-3

.text_container
    @include element-flex(row,center,center)
    gap: $value-2
    width: 100%

.text_column
    @include element-flex(column)
    width: 30%

.title
    color: $b
    +title-30

.description
    color: $b8
    +label-24

.text
    color: $b5
    +label-22
    width: 100%
    @include element-flex(row)
    gap: $value-2

.text_important
    color: $b
    +label-22

.figure
    width: 100%
