@import styles

.container
    height: 640px
    width: 100%
    @include element-flex(row)
    +m
        @include element-flex(column-reverse)
        height: 100%
    gap: $value-4
    box-sizing: border-box

.options
    width: 25%
    min-width: 280px
    height: 100%
    background: $bw
    padding: $value-2
    border-radius: $value-4
    @include element-flex(column, flex-start,center)
    gap: $value-4
    +m
        width: 100%
        max-width: 100%
        height: fit-content
        @include element-flex(column, center,center)

.slider
    width: 100%
    @include element-flex(row,flex-start,center)
    gap: $value-2

.slider_text
    +label-14
    color: $b
    width: calc(100% / 3)
    text-align: end
    +m
        width: 120px

.slider_input
    flex: 1

.view_presets
    width: 100%
    @include element-flex(row,flex-start,center)
    gap: $value-2

.view_presets_text
    +label-14
    color: $b
    +m
        width: 120px
        text-align: end

.view_presets_buttons
    flex: 1
    @include element-flex(row,flex-start,center)
    gap: $value-2

.view_presets_button
    +label-12
    color: $b
    background: $w9
    padding-inline: $value-2
    border-radius: $value-2
    border: 3px solid $b5
    &:hover
        cursor: pointer
        background-color: $w5

.current_button
    background-color: $b
    color: $w !important

.canvas
    max-width: calc(100% - 296px)
    flex: 1
    height: 100%
    background: $bw
    padding: $value-4
    border-radius: $value-4
    +m
        max-width: 100%
        width: 100%
        height: 640px
